h1 {
  text-align: center;
}

div.color-item {
  height: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}

p.active {
  background-color: transparent;
  cursor: pointer;
}

p.inactive {
  background-color: grey;
  border: 1px solid black;
}

h1.headerLookOne {
  color: blue;
  background-color: black;
}

h1.headerLookTwo {
  color: yellow;
  background-color: red;
}
