<h1
  (mousemove)="onMouseMove()"
  [style.color]="headerTextColor"
  [style.backgroundColor]="backgroundColor"
>
  {{ title | uppercase }}
</h1>
<button (click)="clickHandler()">Tooggle training section</button>

<div *ngIf="showTrainingSection">
  <app-copyrights></app-copyrights>
  <div *ngIf="text != ''">
    <img [src]="imgSrc" [alt]="title" />
    <a [href]="linkUrl" target="_blank">link</a>
    <a [href]="linkUrl2" target="_blank">second link</a>
  </div>
  <input type="text" [(ngModel)]="text" />
  <p>{{ text }}</p>
</div>
